
.my-bg-primary {
    background-color: purple;
    color: white;
}

.my-nav-active {
    background-color: plum;
}

.nav-item {
    color: indigo;
    font-size: 36px;
    padding-right: .5rem;
    padding-left: .5rem;
}

.main {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

h1 {
    color: purple;
}

h2 {
    color: purple;
}

.capability {
    margin-left: 2.5%;
    font-size: 22px;
    color: purple;
}

a:link, a:visited {
    color: purple;
}
a:hover {
    background-color: plum;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.footer-column {
    float: left;
}

/* Left and right column */
.footer-column.left-side {
    width: 25%;
}
.footer-column.right-side {
    width: 25%;
    text-align: right;
}

/* Middle column */
.footer-column.middle {
    width: 50%;
    text-align: center;
}

.anchor-link {
    color: grey;
    opacity: 0.1;
}

.anchor-link:hover {
    opacity: 1;
    color: grey;
    text-decoration: none;
}

.table {
    margin-left: 5%;
    width: 90%;
}

table {
  @extend .table;
}

.footer {
    font-size: 80%;
}

hr.footer {
    width: 40%;
    text-align: center;
    border-top: medium double #333;
}

hr.footer:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.9em; 
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
		 
