
<nav>
  <a class="navbar-brand" href="/"><img src="purple-infinity.png" height=32></a>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" class="nav-item{% if page.url == item.link %} my-nav-active{% endif %}">
      {{ item.name }}
    </a> &nbsp; &nbsp; &nbsp;
  {% endfor %}
</nav>
