<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div class="main">
      {% include navigation.html %}
      <div class="content">
	{{ content }}
      </div>
      {% include footer.html %}
      </div>
  </body>
</html>
